section#login

    .container.login-container
      .row
        .col-lg-4.col-lg-offset-4.col-sm-8.col-sm-offset-2

          .login-section
            .login-section-heading
                div.managementconsole-icon
                h3 Management Console
            .login-section-error
                div.panel-error-icon
                p.text-center(ng-show="alert.login.display")
                    {{ alert.login.message }}
            .login-section-body
                form(role='form')
                    input(type='text',
                    ng-model='logindata.username',
                    placeholder= '{{ ui.login.placeholder_username }}')
                    p(ng-show="login.validation.username")
                        small.text-danger This field is required
                    input(type='password',
                    ng-model='logindata.password',
                    placeholder='{{ ui.login.placeholder_password }}')
                    p(ng-show="login.validation.password")
                        small.text-danger This field is required
                    .text-center
                        div
                            label
                                input(type='checkbox',
                                ng-model='logindata.remember')
                                | {{ ui.login.label_rememberMe }} 

                        input(type="submit", value="{{ ui.login.button_login }}", ng-click='auth()')
            .login-section-footer
                p.text-center
                    a(href="#") {{ ui.login.forgot_password }}
        .container(ng-show='login.state')
            .row
                .col-md-4.col-md-offset-4
                    span You are successfully logged in.