section#monitors

    .top-navbar
        .back.glyphicon.glyphicon-chevron-left
        h2.icon.icon-logs Monitors

        .pull-right
            .new-monitor-btn-container
                input(type="button", value="New Monitor").button-create-monitor

    .top-navbar-extras
        .extras-container.table-cell
            .form-inline
                span Show inactive        
                select(ng-model='state', ng-options='state for state in states', ng-change='getMonitors()').form-control                  
                     
                span  Type
                select(ng-model='type', ng-options='type for type in types', ng-change='getMonitors()').form-control
                    option(value='') All types                

    .container-monitors-wrapper
        .columns
            .column-one-third.column-left
                ul
                    li(ng-repeat='monitor in monitors', ng-class="{'active': $index == selectedIndex}", ng-click="loadMonitor($index, monitor)")                        
                        span.monitor-icon.fa(ng-class="monitor.imgClass")
                        span.counter {{ monitor.wish }}
                        .details-container
                            h3.name {{ monitor.name }} 
                            span.type {{ monitor.groupName }}
                        .status-toggle-container
                            span {{ monitor.state }}

            .column-two-third.column-right.vertical-page-spacing-left.horizontal-page-spacing-top
                h2 {{ dmonitor.name }}
                .preloader(ng-hide='dmonitor.dataLoaded') {{ ui.monitors.loading_text }}
                div(ng-show='dmonitor.dataLoaded')
                form(role='form')
                    input(type="text", placeholder="Monitor name", ng-model="dmonitor.name").field-monitor-name
                   
                    ui-select(multiple ng-model='groups.selectedGroup', style='width:60%;', on-remove='removeGroup($item)')
                        ui-select-match(placeholder='Group name..') {{ $item.name }} 
                        ui-select-choices(repeat='group in groups') 
                            div(ng-bind-html='group.name | highlight: $select.search')
                    .monitor-timeline
                        #timeline
                            .header
                                .title Wish value
                                .menus
                                    span
                                        button.btn.btn-default.btn-xs.move(type="submit", ng-click="moveTo('left')")#moveLeft
                                            span.glyphicon.glyphicon-chevron-left
                                        button.btn.btn-default.btn-xs.move(type="submit", ng-click="moveTo('right')")#moveRight
                                            span.glyphicon.glyphicon-chevron-right
                                        button.btn.btn-xs.btn-success(ng-click='toggleWishForm()') {{ toolbarBtn }}
                                .clear
                            #toolbar(ng-show='views.wish.add || views.wish.update')                                   
                                .form-inline
                                    button.close(ng-click='resetForm()') ×
                                    h5(ng-show='views.wish.add') Add Wish
                                    h5(ng-show='views.wish.update') Update Wish
                                    hr                                    
                                    label Start
                                     .form-group.has-feedback    
                                        input.form-control.inputdate(type='text', 
                                        ng-model='wish.start.date', 
                                        data-date-format='dd-MM-yyyy', 
                                        data-date-type='string', 
                                        bs-datepicker='', 
                                        data-autoclose='1') 
                                        i.form-control-feedback.glyphicon.glyphicon-calendar                                    
                                    .form-group.has-feedback.has-feedback-right
                                        input.form-control.inputtime(type='text', 
                                        ng-model='wish.start.time', 
                                        bs-timepicker='', 
                                        data-time-format='HH:mm', 
                                        data-time-type='string',
                                        data-length='3')
                                        i.form-control-feedback.glyphicon.glyphicon-time                                 
                                    label Till                                                     
                                    .form-group.has-feedback    
                                        input.form-control.inputdate(type='text', 
                                        ng-model='wish.end.date', 
                                        data-date-format='dd-MM-yyyy', 
                                        data-date-type='string', 
                                        bs-datepicker='', 
                                        data-autoclose='1') 
                                        i.form-control-feedback.glyphicon.glyphicon-calendar 
                                    .form-group.has-feedback 
                                        input.form-control.inputtime(type='text', 
                                        ng-model='wish.end.time', 
                                        bs-timepicker='', 
                                        data-time-format='HH:mm', 
                                        data-time-type='string', 
                                        data-length='3') 
                                        i.form-control-feedback.glyphicon.glyphicon-time
                                    label Value                                                     
                                    .form-group    
                                        input.form-control.inputvalue(type='text', ng-model='wish.value') 
                                    label Re-occuring                                                     
                                    .form-group    
                                        input(type='checkbox', ng-model='wish.recursive')
                                    button.btn.btn-xs.btn-success#add(type='submit', ng-click='timelineOnAdd(null, wish)', ng-show='views.wish.add') {{ ui.monitors.add_label }}
                                    button.btn.btn-xs.btn-danger#delete(ng-click='timelineOnRemove()', ng-show='views.wish.update') {{ ui.monitors.delete_label }}
                                    button.btn.btn-xs.btn-success#change(type='submit', ng-click='timelineOnUpdate(null, wish)', ng-show='views.wish.update') {{ ui.monitors.change_label }}      
                        .alert(class='{{alert.add.type}}', ng-show='alert.add.display')
                            button.close(type='button', ng-click='alert.add=false') × 
                            | {{ alert.add.message }}                               
                        #timelinemain
                            time-line(data='timeline.data', options='timeline.options', groups='timeline.groups', events='timeline.events')            
                    //.field-frequency-container    
                        input(type="text", placeholder="Frequency").field-frequency
                        select(ng-model='selFrequency', ng-options='freq for freq in frequencies').field-day.form-control                            
                             
                    select(ng-model='dmonitor.mobileMedium', ng-options='type for type in types').form-control.field-mobilemedium                                
                    input(type="text", placeholder="AskFastAgentUrl", ng-model="dmonitor.askfastAgentUrl").field-askfastagenturl
                    input(type="text", placeholder="AskFast escalation agent url", ng-model="dmonitor.askfastEscalationAgentUrl").field-askfastescalationagenturl
                    input(type="submit", value="{{ ui.monitors.save_label }}", ng-click="saveUpdate()").field-submit.field-monitor-save                    